@media (max-width: 45em) {
header {
   background:#fff;
   padding:10px;
   height: 100px;
}
.hamburger {
  list-style: none;
  float: left;
  margin: 0;
  padding: 10px 0;
  position: relative;
  top: 2px;
  left: 10px;
}
.hamburger:hover {

}
.hamburger li {
  width: 24px;
  height: 4px;
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  background-color: #718087;
  margin: 0 0 4px;
  padding: 0;

}
a {
  display: none;
}

.hamburger.x{
  li{
  background-color: red;
  }
}

.oc {
      display: block;
      padding: 1em;
      clear: both;
      overflow: hidden;
        -webkit-transform: translateX(0);
  transform: translateX(0);

    }

  .js .oc {
    width: 16em;
      height: 100%;
      position: absolute;
      top: 0;
      left: -16em;

    }

    .wrapper.active {
      -webkit-transform: translateX(16em);
      transform: translateX(16em);

      -webkit-transform: translate3d(16em, 0, 0);
      transform: translate3d(16em, 0, 0);

      .content, footer {
        opacity: 0.5;
      }
      a {
      display: block;
      }
      .hamburger a{
      display: none;
      }
      #logo {
      display: none;
      }


    }


}