@media (min-width: 45em) {
header {
   background:#fff;
   padding:10px;
   height: 100px;
}



li {
  font-size: 2.5em;
  float: right;
  padding: 0 1em 0 0;
  list-style: none;
  color: white;
  a {
  color: #718087;
  }
  a:hover {
  text-decoration: none;
  }

}

.oc {
  display: none;
}
}

